*{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.bar1, .bar2, .bar3 {
    background: #1b385c;
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -moz-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -moz-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.containerMenu{
    width: 9vw;
    height: 5vh;
    display: none;
    padding: 0.5em;
}

.containerMenu:hover{
    cursor: pointer;
}


#menu:checked ~ nav{
    left: 0px;
}

#menu:checked ~ body{
    background-color: rgba(41, 41, 41,1);
}

#container{
    margin-top: 10vh;
    min-height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

#container > div{
    background: rgb(209, 205, 205);
    color: white;
    width: 20vw;
    margin: 2vw;
    line-height: 20vh;
    border-radius: 50%;
}

#container button{
    color: black;
    background: transparent;
    border: none;
}

#container button:hover{
    cursor: pointer;
    border-bottom: 2px solid red;
}

#container > div p{
    color:#1b385c;
    font-size: 1.5rem;
}

nav{
    transition:all 0.3s;
    position: fixed;
    top: 0px;
}

nav,ul{
    color: white;
    width: 100%;
    min-height: 8vh;
    line-height: 8vh;
}

ul{
    background: rgb(41, 41, 41);
    position: absolute;
    min-height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li{
    flex-grow: 1;
    min-height: 10vh;
    line-height: 10vh;
    list-style: none;
}

li:hover{
    background: #1b385c;
    color: white;
}

footer{
    background: rgb(41, 41, 41);
    color: white;
    line-height: 15vh;
}

@media only screen and (max-width:768px){

    body{
        overflow-x: hidden;
    }
    
    .containerMenu{
        z-index: 99;
        display: block;
        position: fixed;
        top: 0px;
        height: 5vh;
    }

    #container > div{
        display: block;
        width: 40vw;
        line-height: 15vh;
        margin: 1em auto;
    }

    nav{
        background: transparent;
        left: -100%;
    }

    ul{
        position: fixed;
        top: 8vh;
        background: rgba(209, 205, 205,0.9);
        color: #1b385c;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    li{
        width: 100%;
        height: 15vh;
        line-height: 15vh;
        border: 1px solid  gray;
    }

}